
* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: url(/assets/images/world-cursor.png), crosshair;
    /* figure out how to get image cursor to work */
    /* background-color: #e7f0e4; */
    background-color: #f3f7f2;
    margin: 0;
    border: solid 0.02px;
}

/* header formatting start */
.profile-image {
    width: 100%;
    max-width: 200px;
}

.header, .nav-list , .h1, .a {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content:space-between;
    color: #2c3e23;
    background-color: #b7bca2;
    flex-direction:row;
    list-style-type: none;
    text-decoration-style: none;
    
}

.a {
    padding: 5px;
    background-color: #b7bca2;
}

/* li {
    flex-direction:row;
    list-style-type: none;
    text-decoration-style: none;
} */

/* header formatting end */

/* general formatting start */
a:link {
    color:#2c3e23;
    text-decoration: none;
    text-decoration-style: none;
}
a:visited {
    color: #893F04;
    text-decoration-style: none;
    text-decoration: none;
}
a:hover {
    color: #c67f43;
    text-decoration-style: none;
    text-decoration: underline;
}
a:active {
    color:#893F04;
    text-decoration-style: none;
    text-decoration: underline;
}


h2 {
    color: #2c3e23;
}

h3 {
    color:#4a673b;
}

/* general formatting end */

/* about me formatting start */
/* .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-width: 640px) {
        flex-direction: column;
        max-width: 100%;
        display: block;
    }
}

.about-me-lhs {
    max-height:400px;
    min-width: 60%;
    @media screen and (min-width: 640px) {
        max-width: 100%;
        display: block;
    }
}

.about-me-rhs {
    max-height:400px;
    min-width: 40%;
    @media screen and (min-width: 640px) {
        max-width: 100%;
        display: block;
}
} */

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #b7bca2;
    padding: 1rem;
}

.about-me-rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
    .about-me-lhs {
      min-width: 60%;
      inline-size: 60%;
    }
    .about-me-rhs {
        min-width: 40%;
      }
  }

@media screen and (max-width: 992px) {
    .about-me-lhs {
      min-width: 60%;
      inline-size: 60%;
    }
    .about-me-rhs {
        min-width: 40%;
      }
  }
  
  @media screen and (max-width: 768px) {
    .about-me-lhs {
        min-width: 100%;
        inline-size: 100%;
      }
      .about-me-rhs {
          min-width: 100%;
        }
  }

  @media screen and (max-width: 576px) {
    .about-me-lhs {
        min-width: 100%;
        inline-size: 100%;
      }
      .about-me-rhs {
          min-width: 100%;
        }
  }

  /* about me section formatting end */



footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* about me formatting begin */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  /*  base column width 100% and wupdate it using media queries for larger screen sizes */
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 5.5rem;
  }
  
  /* make each code card a flexbox column to align and justify content within it */
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--copper-rose);
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--copper-rose);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--copper-rose);
    color: var(--derby-brown);
    border: 2px solid var(--copper-rose);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  /* set an outer and inner drop shadow on the card to create a glowing effect on hover */
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--copper-rose), 0 0 15px var(--copper-rose);
  }

  .code-card {
    flex-grow: 1;
  }

  .code-card .card-body {
    /* set styles to make it so code wraps instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--copper-rose);
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  /* on <pre> click, select all contents so the code is highlighted */
  .code-card .card-body:active {
    user-select: all;
  }
  
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
  @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:first-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
/* about me formatting end */






