/* color scheme hand selected */
:root {
    /* --saddle-brown: #893f04;
    --bronze: #c67f43;
    --antique-brass: #d49b7e;
    --desert-sand: #ddb8a6;
    --artichoke: #989e8b;
    --xanadu: #7b876d; */
    --copper-rose: #936865;
    --coriander: #C4CEB4;
    --waterloo: #777a92;
    --armadillo: #514B3D;
    --kelp: #54513F;
    --derby-brown: #52221A;
    --bronze: #c67f43;
    --muted-blue: #9ca0bb;
    --wafer: #dccac980;

  }

  /* general formatting begin */
  html {
    /* makes 1rem=10px */
    font-size: 62.5%;
    padding:2.5rem;
  }

  /* content highlight and background colors */

  ::selection {
    background-color: var(--waterloo);
    color: var(--derby-brown);
  }

  
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    line-height: 1.5;
    background: linear-gradient(
        rgb(198, 211, 182)0%,
        rgb(168, 177, 150)50%, 
        rgb(139, 143, 120)80%, 
        rgb(111, 111, 91)95%,
        rgb(84, 81, 63)100%
        );
    margin: 0;
    cursor: crosshair;
  }


    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 0.625rem;
        color: var(--derby-brown);
        font-weight: 700;
        line-height: 1.1;
}

h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

a:link {
    color:var(--derby-brown);
    text-decoration: none;
    text-decoration-style: none;
}
a:visited {
    color: var(--derby-brown);
    text-decoration-style: none;
    text-decoration: none;
}
a:hover {
    color: var(--bronze);
    text-decoration-style: none;
    text-decoration: underline;
}
a:active {
    color:var(--derby-brown);
    text-decoration-style: none;
    text-decoration: underline;
}

hr.rounded {
    border-top: 0.25rem solid var(--kelp);
    border-radius: 1rem;
  }

/* general formatting end */


/* header formatting begin */
  .profile-image {
    width: 100%;
    max-width: 200px;
}

.header {
    text-align: center;
}

.nav-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:space-between;
    flex-direction:row;
    list-style-type: none;
    text-decoration-style: none;
    background-color: var(--wafer);
}

header {
    padding-bottom: 5rem;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1rem;
    align-self: flex-start;
}

/* nav bar begins as sticky but bugging once body element is reached - must ask tutor */


.nava {
    padding: 0rem 1rem;
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction:row;
    list-style-type: none;
    text-decoration-style: none;
    align-content: flex-end;
}

/* header formatting end */

/* about me formatting begin */

.about-me-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.about-me-lhs {
    /* height: 100%; */
    flex: 0 0 50%;
    flex-grow: 1;
}
.about-me-rhs {
    flex: 0 0 40%;
    flex-grow: 1;
}



.about-me {
    outline: 2px dashed var(--copper-rose);
    transition: all 0.5s ease-in-out;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    color: var(--derby-brown);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    /* transparent background image to be added of apps */
}

.about-me:hover,
.am-header:hover {
    box-shadow: inset 0 0 5rem var(--copper-rose), 0 0 5rem var(--copper-rose);
}

.about-me .am-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--copper-rose);
    color: var(--derby-brown);
    border: 2px solid var(--copper-rose);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/* .about-me {
    flex-grow: 1;
} */

.about-me .am-body {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--copper-rose);
    border-radius: 8px;
    display: flex;
    align-items: center;
  } 

/* about me formatting end */



/* app formatting begin */

.applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:5rem 0rem;
    justify-content:space-between;
}



.flex-app:nth-of-type(1) {
    width: 100%;
}

/*allows background image to be transparent without all child elements being transparent */

.flex-app:nth-of-type(1)::before {
  width: 100%;
  content: "";
  background-image: url('/assets/images/ghibli-bonsai.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}


.flex-app:nth-of-type(2) {
    width: 58%;
}

.flex-app:nth-of-type(2)::before {
  width: 100%;
  content: "";
  background-image: url('/assets/images/ghibli-kodama.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.flex-app:nth-of-type(3) {
    width: 38%;
}

.flex-app:nth-of-type(3)::before {
  width: 100%;
  content: "";
  background-image: url('/assets/images/ghibli-totoro.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.flex-app:nth-of-type(4) {
    width: 38%;
}

.flex-app:nth-of-type(4)::before {
  width: 100%;
  content: "";
  background-image: url('/assets/images/ghibli-noface.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.flex-app:nth-of-type(5) {
    width: 58%;
}


.flex-app:nth-of-type(5)::before {
  width: 100%;
  content: "";
  background-image: url('/assets/images/ghibli-library.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}



.app-header {
    position: relative;
    width: 15rem;
    margin: -15rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--copper-rose);
    color: var(--derby-brown);
    border: 2px solid var(--copper-rose);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
  


.flex-app {
    outline: 2px dashed var(--copper-rose);
    transition: all 0.5s ease-in-out;
    padding: 13rem 0rem;
    margin: 2rem 0rem;
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    /* transparent background image to be added of apps */
}

.flex-app:hover,
.app-header:hover {
    box-shadow: 0 0 5rem var(--copper-rose), 0 0 5rem var(--copper-rose);
}

.app-header {
    position: relative;
    width: 15rem;
    margin: -25rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--copper-rose);
    color: var(--derby-brown);
    border: 2px solid var(--copper-rose);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/* media screen formatting must be separated into nth types due to previous width formatting */
@media only screen and (max-width: 768px) {
  .flex-app:nth-of-type(1) {
     width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-app:nth-of-type(2) {
     width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-app:nth-of-type(3) {
     width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-app:nth-of-type(4) {
     width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-app:nth-of-type(5) {
     width: 100%;
  }
}


/* app formatting end */


/* contact formatting begin */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    margin-left: -3.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    transition: all 0.3s ease;
    color: var(--coriander);
    font-size: 2rem;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: var(--copper-rose);
  }
  
  .google {
    background: var(--derby-brown);
    color: var(--coriander);
  }
  
  .linkedin {
    background: var(--derby-brown);
    color: var(--coriander);
  }
  
  .github {
    background: var(--derby-brown);
    color: var(--coriander);
  }

  .contact-pic {
    max-width: 3rem;
  }

.contact-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
}

/* contact formatting end */




/* footer formatting begin */

footer {
    text-align: center;
    padding-top: 2rem;
    color: var(--derby-brown);
}

/* footer formatting begin */

/* volunteer formatting begin */

.volunteer {
  outline: 2px dashed var(--copper-rose);
  transition: all 0.5s ease-in-out;
  padding: 2rem 2rem;
  margin: 8rem 2rem;
  color: var(--derby-brown);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.volunteer:hover,
.volunteer-header:hover {
  box-shadow: inset 0 0 5rem var(--copper-rose), 0 0 5rem var(--copper-rose);
}

.volunteer .volunteer-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--copper-rose);
  color: var(--derby-brown);
  border: 2px solid var(--copper-rose);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* volunteer formatting end */

/* homepage return formatting begin */

.homepage-return {
  position: fixed;
  margin-left: -3.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homepage-return a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease;
  color: var(--coriander);
  font-size: 2rem;
}

.homepage-return a:hover {
  background-color: var(--copper-rose);
}

.homepage-button {
  background: var(--derby-brown);
  color: var(--coriander);
}

/* homepage return formatting end */

/* work formatting begin */

.work {
  outline: 2px dashed var(--copper-rose);
  transition: all 0.5s ease-in-out;
  padding: 2rem 2rem;
  margin: 8rem 2rem;
  color: var(--derby-brown);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.work:hover,
.work-header:hover {
  box-shadow: inset 0 0 5rem var(--copper-rose), 0 0 5rem var(--copper-rose);
}

.work .work-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--copper-rose);
  color: var(--derby-brown);
  border: 2px solid var(--copper-rose);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* work formatting end */

/* interests formatting begin */

.interests {
  outline: 2px dashed var(--copper-rose);
  transition: all 0.5s ease-in-out;
  padding: 2rem 2rem;
  margin: 8rem 2rem;
  color: var(--derby-brown);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.interests:hover,
.interests-header:hover {
  box-shadow: inset 0 0 5rem var(--copper-rose), 0 0 5rem var(--copper-rose);
}

.interests .interests-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--copper-rose);
  color: var(--derby-brown);
  border: 2px solid var(--copper-rose);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* interests formatting end */

/* feedback form formatting begin */

fieldset {
  padding: 1rem;
  margin-bottom: 4rem;
}

.feedback {
  padding-top:4rem;
}

/* feedback form formatting begin */